.button
  font-size: 14px
  background-color: $active-color
  border: none
  color: $text-color-light
  padding: 13px 22px
  border-radius: 5px
  &:hover
    cursor: pointer
    background-color: lighten($active-color, 5)
  img
    vertical-align: middle
    //width: 20px
    //height: 20px
  &__big
    padding-top: 19px
    padding-bottom: 19px
    vertical-align: middle
    width: 30%

